<div class="container">
  <h2> Liste des cocktails </h2>

  <%= link_to 'Add a cocktail', new_cocktail_path %>
  <div class="row">
    <div class="col-md-3">
      <% @cocktails.each do |cocktail| %>
          <%= link_to cocktail_path(cocktail) do %>
          <div class="card">
            <div class="cocktail-name">
              <h4><%= cocktail.name %></h4>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
